header {
  background-color: #bf7e04;
  text-align: center;
  max-width: 100%;
  color: white;
  padding: 5px;
  margin: 5px;
}
.logo {
  width: 150px;
}

.r-social {
  text-align: right;
}

.nav {
  display: flex;
  gap: 20px;
  font-size: 25px;
  text-align: center;
}

.nav a {
  color: white;
  text-decoration: none;
  text-align: center;
}

/* Burger */
.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.burger span {
  display: block;
  height: 3px;
  width: 25px;
  background: white;
  margin: 4px 0;
  transition: 0.3s;
}

/* Responsive */
@media (max-width: 768px) {
  .nav {
    position: absolute;
    top: 60px;
    right: 0;
    background: #222;
    flex-direction: column;
    width: 200px;
    padding: 20px;
    display: none;
  }

  .nav.active {
    display: flex;
  }

  .burger {
    display: flex;
  }
}

body {margin: 0;
min-height: 100vh;}

#imageaccueil {background-image:url()}
