* {
  box-sizing: border-box;
}

/* CSS header   */
header {
  background-color: #bf7e04;
  text-align: center;
  max-width: 100%;
  color: white;
  padding: 16px;
}
.logo {
  width: 150px;
}
.nav {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.nav a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.r-social {
  text-align: left;
  width: 20%;
}
.nav {
  display: flex;
  gap: 20px;
  font-size: 25px;
  text-align: center;
}
.nav a {
  color: white;
  text-decoration: none;
  text-align: center;
}

/* Menu Burger */
.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.burger span {
  display: block;
  height: 3px;
  width: 25px;
  background: white;
  margin: 4px 0;
  transition: 0.3s;
}

#burgernav {
  position: relative;
  padding: 16px 0;
}

/* Responsive */
@media (max-width: 768px) {
  .nav {
    position: absolute;
    top: 100%;
    right: 0;
    background: #222;
    flex-direction: column;
    width: 200px;
    padding: 20px;
    display: none;
  }

  .nav.active {
    display: flex;
  }

  .burger {
    display: flex;
  }
}

body {
  max-width: 100%;
  margin: 0;
  min-height: 100vh;
}

#imageaccueil {
  background-image: url();
}
