*{ box-sizing: border-box;}

img {max-width: 100%;}

header {
  background-color:#BF7E04;
  text-align: center;
  max-width: 100%;
  color: white;
  padding: 5px;
  margin: 5px;
  
  }
  .logo { width: 300px;}
   

  nav li { display: inline-block ; 
    justify-content: space-between;
    margin : 20px;
    gap: 20px;
    color: white;
    font-size: 20px;}

    nav li a {
        color :rgba(255, 255, 255, 0.8);
        text-decoration : "none";
    }

    main { margin-bottom: 32px;}



  h1 { text-align: center;}

  h2 { text-align: center;
      color:#4f1e01;}

  p { text-align: center;}

  #menus {max-width: 1200px;
          margin: auto;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
          grid-gap: 25px;}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin:0;
  
}








footer {background-color: black;
  text-align: center;
  max-width: 100%;
  color: white;
  padding: 50px;
  margin: 5px;}


