* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: Arial, Helvetica, sans-serif;

  margin: 0;
min-height: 100vh;




}

iframe {
  width: 100%;
  height: 100vh;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 16px 0;
}

/* header {
  background-color: #bf7e04;
  text-align: center;
  max-width: 100%;
  color: white;
  padding: 5px;
  margin: 5px;
}
.logo {
  width: 300px;
}

.r-social {
  text-align: right;
  
} */

/* .search-container {
  text-align: center;
  margin: 15px;
  
}

.search input {
  padding: 10px;
  width: 250px;
  max-width: 80%;
  border-radius: 5px;
  border: 1px solid #ccc;
} */
.search {
  text-align: center;
  margin: 15px;
}

.search input {
  padding: 10px;
  width: 250px;
  max-width: 80%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

main {
  margin-bottom: 40px;
  max-width: 100%;
  min-height: 100vh;
  
}

h1 {
  text-align: center;
  color: white;
}

.back p {
  font-size: 30px;
  color: white;
}

h2 {
  text-align: center;
  color: white;
}

p {
  text-align: center;
}

#menus {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 25px;
}

.menu {
  border-radius: 2%;
}

article {
  border-radius: 8px;
}

footer {
  background-color: black;
  text-align: center;
  max-width: 100%;
  color: white;
  padding: 50px;
  margin: 5px;
}

.logofoot {
  width: 100px;
  text-align: left;
  margin-top: auto;
}

.contactfoot {
  text-align: left;
  margin-top: 0;
}

.back {
  background-image: url(/images/plat-africain-background.jpg);
  min-height: 80vh;
  background-size: cover;
  background-position: center;
}

.back__content {
  padding: 32px 16px;
  background-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.86),
      transparent);
}

.card {
  text-align: center;
}

.contactfoot img {
  width: 40px;
}

.contactfoot {
  text-align: left;
}

.sort {
  text-align: center;
  margin: 10px;
}

.sort select {
  padding: 10px;
  border-radius: 5px;
}

/* Formulaire de reservation css */
.reserve-btn {
  padding: 10px 20px;
  background: #8b0000;
  color: white;
  border: none;
  cursor: pointer;
  margin: 15px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background: white;
  padding: 20px;
  width: 300px;
  margin: 100px auto;
  border-radius: 8px;
  text-align: center;
}

.modal-content input {
  width: 90%;
  padding: 8px;
  margin: 5px 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

#menu-detail {position: relative;}

.detail {
  text-align: center;
  padding: 30px;
  margin: 16px;
  width: 100%;
}